#inputButtonContainer {
    border: 2px solid white;
    border-radius: 40px;
    margin-left: -150px;
    
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 1000px;
    
    transform: translateY(-190px);
    
    background-color: transparent;
    color: green;

    
    margin-top: 300px;
    position: fixed;

    
   
    
    
}

button {
    background-color: transparent;
    border-style: none;
    margin-right: -925px;
    margin-top: -10px;
    padding-left: 425px;
    padding-top: 3px;
    padding-bottom: 5px;
    transform: translateX(-255px);
    
}

#send-button {
    height: 100px;
    width: 100px;
    
}



input {
    background-color: transparent;
    color: white;
    width: 70%;
    
    transform: translateY(-45px);
    
    margin-left: -620px;
    border-style: none;
    outline: none; 
    border-radius: 30px;
    font-size: larger;
    
}

::placeholder {
    color: white;
    opacity: 1; 
  }

  form {
    transform: translateY(-100px);
  }

